.Account-box {
    display: flex;
    position: relative;
    align-items: center;

    .InfoCabinet {

      .Info-title {
        position: relative;
        font-size: 25px;
        color: #033017;
        margin: -60% 0% 0% 15%;
        text-transform: uppercase;
        letter-spacing: 0.4em;
      }
    }
  
    img {
      width: 50%;
      height: auto;
      margin-left: auto;
    }

    .PersonalData {
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 40%;
      height: auto;
      border: 3px solid #033017;
      border-radius: 30px;
      margin-left: 55%;
      background: rgb(246 246 246 / 66%);

      div {
        width: 100%;
        padding: 5px 0px;
      }

      .profile-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 15%;

        .avatar-section{
          width: auto;

          .avatar {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 37px;
            border-radius: 50%;
            border: 2px solid #F2C1C1;
            background: #ffff;
            color: #033017;
            font-size: 20px;
            font-weight: bold;
            margin: 10px 10px;
          }
        }
        h3 {
            display: block;
            width: 100%;
            text-align: left;
            padding: 0;
            margin: 0;
            color: #033017;
            font-size: 20px;
          } 
        .gear-btn {
            display: block;
            width: 40px;
            height: auto;
            cursor: pointer;
            margin: 10px 10px;
          }
      }
      
      .lineAccount {
        width: 100%;
        height: 2px;
        background:#033017;
        margin: 0;
        padding: 0;
      }

      .profile-content {

        .form-section {

          .form-group {
            display: flex;
            width: 100%;
            align-items: center;
            margin-bottom: 15px;
            
            label {
              width: 100px;
              font-weight: bold;
              color: #033017;
              padding: 0px 10px;
              margin: 0;
              font-size: 16px;
            }
            input {
              width: 60%;
              padding: 7px 12px;
              border: 1px solid #ddd;
              border-radius: 10px;
              font-size: 12px;
            }
            select {
              margin: 0;
              padding: 5px 5px;
            }
            span {
              display: flex;
              justify-content: flex-start;
              justify-items: center;
              padding: 8px 12px;
              background-color: white;
              border-radius: 20px;
              width: 60%;
              height: 15px;
              font-size: 16px;
              font-weight: 500;
            }
          }

          .action-buttons {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin: 0;
          }
          .save-btn,.cancel-btn {
            color: #fff;
            border: none;
            padding: 8px 16px;
            border-radius: 5px;
            border: 2px solid #fff;
            cursor: pointer;
            font-weight: 800;
            letter-spacing: 0.1em;
            font-size: 14px;
            margin: 0;
          }
          .save-btn {
            width: 45%;
            height: auto;
            background: #03fe03;
            
          }
          .cancel-btn {
            width: 25%;
            height: auto;
            background: #faa4a4;
          }
        }

      }

      .profile-footer {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        border-top: 2px solid rgb(224, 224, 224);
        margin-top: 15px;
        padding: 20px 20px;

        .exit-btn,
        .delete-btn {
          color: #F6F6F6;
          border: none;
          padding: 10px 20px;
          border-radius: 5px;
          cursor: pointer;
          background: #797979;
          border: 2px solid #033017;
          font-weight: 800;

          &:hover {
            background: #fbafaf;
            border: 1px solid #ffffff;
            text-shadow: 0.1em 0.1em 0.1em #faa4a4;
          }
        }

      }

      .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;

        .confirm-modal { 
          width: 90%;
          background: white;
          padding: 30px;
          border-radius: 8px;
          text-align: center;
          max-width: 400px;

          h3 {
            color: #f44336;
            margin-bottom: 15px;
          }

          .modal-buttons {
            display: flex;
            margin: 10px;
            justify-content: center;
            margin-top: 20px;

            .confirm-delete-btn,
            .cancel-delete-btn {
              background: #f44336;
              color: white;
              border: none;
              padding: 10px 20px;
              border-radius: 5px;
              cursor: pointer;
            }
            .cancel-delete-btn {
              background: #757575;
              margin-left: 50px;
            }
          }
        }
      }
    }


  }