
body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #797979;
}

* {
  font-family: 'Inter', system-ui;
}

.wrapper{
  height: 100%;
  background: #F6F6F6;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 20px auto;


  .overlay {
    position: fixed; 
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0 , 0, 0.5);
    z-index: 1;

    .drawer {
      position: absolute;
      width: 420px;
      height: 92%;
      right: 0;
      top:0;
      bottom: 0;
      background: #F6F6F6;
      box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
      padding: 30px;
      
      h2 {
        display: flex;
        justify-content: space-between;
        margin: 0;
        font-size: 24px;
        height: 10%;
        color:#033017;
        
        img {
        cursor: pointer;
        width: 24px;
        height: 24px;
        }
      }

      .allItems {
        height: 70%
      }
      
      .cartEmpty {
        display: flex;
        align-items:center;
        flex-direction: column;
        padding: 50px 0px;
        height: 60%;
  
        img {
          width: 200px;
          height: 200px;
        }
        h2,
        p {
          text-align: center;
          padding: 10px 10px;
          margin: 0;
        }
        h2{
          font-size: 35px;
        }
        p{
          font-size: 14px;
        }
      }


    }
  }
}

  .items {
    overflow-y: auto;
    height: 100%;
    margin-bottom: 0px;

      .cartItem {
      display: flex;
      align-items:center;
      border: 1px solid #F2C1C1;
      border-radius: 20px;
      overflow: hidden;
      padding: 2px;
      margin-bottom: 15px;

      .img {
        margin: 10px;
        width: 80px;
        height: 80px;
      }
      div {
        width: 60%;
      }
      p, 
      b {
        margin-left: 10px;
        margin-bottom: 5px;
        font-size: 14px;
      }

      .imgCross {
        width: 15px;
        height: 15px;
        padding: 8px;
        border-radius: 12px;
        background-color: #033017;
        cursor: pointer;
        opacity: 0.6;
        transition: opacity 0.15s ease-in-out;

        &:hover {
          opacity: 1;
        }
      }
    }
  }


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px 10px 40px;

  .headerLeft {
    display: flex;
    align-items: center;
    cursor: pointer;    
  }
  .headerRight {
    .basket, span {
      cursor: pointer;
    }
  }
  span {
    position: absolute;
    padding-top: 5px;
    margin-left: 10px;
  }
  h3 {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    color: #033017;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  ul{
    display: flex;
    margin: 0;
    padding: 0;
  }
  li {
  list-style-type: none;
  margin-left: 50px;
  margin-right: 50px;
  }

}


.content {
  /*display: flex;*/
  flex-direction: row-reverse;
  padding: 40px 40px 10px 40px;
  font-family: Inder;
  
  .search-blok {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #F2C1C1;
    padding: 0 15px;
    border-radius: 10px;
    position: relative;

    input {
      border: 0;
      padding: 10px;
      font-size: 16px;
      width: 400px;
      margin-right: 10px;
      outline: none; /* Убираем стандартную */
      background-color:#F6F6F6;
    }
    .clear {
      position: absolute;
      right: 0;
      cursor: pointer;
      width: 20px;
      height: 20px;
      margin: 5px 10px;
    }

    .dropdown-menu {
      position: absolute;
      top: 100%;  /* Под input */
      left: 0;
      right: 0;
      background: white;
      border: 1px solid #F2C1C1;
      border-radius: 4px;
      list-style: none;
      padding: 0;
      margin: 0;
      z-index: 1000;
      max-height: 200px;
      overflow-y: auto;
      
      li {
        padding: 8px 12px;
        cursor: pointer;
        border-bottom: 1px solid #F2C1C1;
        
        &:hover {
          background: #f0f0f0;
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}


.cartTotalBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;  
  height: 30%; 
        
    ul {
      list-style: none;
      padding-left: 0;
    }
    li {
      display: flex; 
      align-items: flex-end; 
      justify-content: space-between;  
      margin-bottom: 20px;  
     }
    div {
      flex: 1;
      border-bottom: 1px dashed #046d56;
      position: relative;
      margin: 0px 7px;
      top: -2px
    }
}

.greenBtn {
      width: 100%;
      background: #faa4a4;
      border: 0;
      border-radius: 20px;
      text-align: center;
      color: #ffffff;
      padding: 20px;
      font-size: 20px;
      font-weight: 600;
      cursor: pointer;
      transition: background 0.2s ease-in-out;

      &:hover {
        background: lighten(#fbafaf, 5%);
        border: 1px solid #faa4a4;
        text-shadow: 0.1em 0.1em 0.1em #faa4a4;

        img {
          transform: translateX(10px);
        }
      }
      &:active {
        background: darken(#fbafaf, 5%);
      }

      img {
        position: absolute;
        right: 100px;
        transition: transform 0.15s ease-in-out;
      }
    }

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 20px;
  font-family: Inder;

  h2{
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 22px;
    margin: 0;
    padding: 20px 20px;
    text-transform: uppercase;
    color: #033017;
    letter-spacing: 0.2em;
  }
}

.lineBlock{
  width: 100%;

  .line{
  display: flex;
  margin: 0 auto;
  margin-bottom: 40px;
  height: 2px;
  width: 800px;
  background: #033017;
  }
}


.menuBlock{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #033017;
  margin: 0; 
  border-top: 5px solid #033017;
  border-bottom: 5px solid #033017;

  h2{
    font-size: 16px;
    padding: 0px 20px;
    letter-spacing: 0.1em;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

    &:hover{
      font-size: 16px;
      padding: 5px 10px;
      transition: all 0.2s linear;
      box-shadow: 0 14px 25px rgba(59, 135, 61, 0.364);
      transform: translateY(2px);
      border:1px solid #F2C1C1;
    }
  }
  h3{
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    color: #000000;
    padding: 0px 100px;
  }  
}